<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Django Level Two</title>
  <link rel="stylesheet" href="{% static 'first_app/css/mystyle.css' %}">
</head>
<body>
  <h1>This is a query set from the database.</h1>
  <div class="level-two">
    {% if access_records %}
    <table>
      <tr>
        <th>Site Name</th>
        <th>Date Accessed</th>
      </tr>
      {% for access in access_records %}
      <tr>
        <td>{{ access.name }}</td>
        <td>{{ access.date }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>No access records found!</p>
    {% endif %}


  </div>


</body>
</html>